<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Hello {{name}}</p>
  <br>
  <p>We received your request to redefine your password.</p>
  <p>If you know about this request and really sended this request, click to reset your password:</p>
  <p>
    <a href="{{link}}">Reset your password</a>
  </p>
  <p>If you don't know nothing about this request, ignore this email.</p>
  <p>Thank you</p>
  <p>Team Sales API</p>
</div>
